.about {
  @include light-background;
  @include font-size(1.5rem, 2rem);
  h3 {
    padding-bottom: 20px;
  }
  
  .summary {
    @include center-content;
    padding: 50px 0;
  }
  .toolkit {
    padding: 0 50px;
    .list {
      justify-content: center;
      padding: 50px 0;
      flex-wrap: wrap;
    }
  }
}