.contact {
  @include dark-background;
  @include font-size(1.5rem, 2rem);
  width: 100%;
  padding: 50px 0;
  color: $text-sec;
  h3 {
    padding-bottom: 20px;
  }
  .tooltip {
    @include font-size(1.1rem, 1.3rem);
    color: rgba($text-sec, 0.6);
  }
  form {
    @include center-content;
  }
}

.form {
  @include grid-dbl-col;
  grid-gap: 10px;
  div p {
    padding-left: 5px;
    position: relative;
    top: 37px;
    text-align: left;
    align-self: center;
    transition: 0.2s;
  }
  .field {
    display: grid;
    grid-template-rows: 30px 50px;
  }
  
  .type-div div {
    @include grid-dbl-col;
    align-items: center;
    span > * {
      cursor: pointer;
    }
  }
  .msg-div{
    grid-column: 1/3;
  }
  #button {
    width: 100px;
    justify-self: end;
    grid-column: 2/3;
    padding: 5px;
    border: none;
    @include button;
  }
  input, textarea {
    @include font-size(1.5rem, 2rem);
    padding-left: 5px;
    color: $text-sec;
    border: none;
    border-bottom: 2px solid $accent;
    background: $shade;
    z-index: 1;
  }
  textarea {
    position: relative;
    z-index: 1;
    font-family: $roboto;
    width: 100%;
    height: 110px;
    resize: none;
    padding-top: 5px;
  }
  textarea:focus, input:focus {
    outline: none;
  }
  input[type="radio"] {
    display: none;
  }
  input[type="radio"] ~ span {
    padding: 10px;
    &:hover {
      border: 2px solid rgba($accent, 0.3);
    }
  }
  .tooltip {
    position: absolute;
    color: $text-sec;
    right: 5px;
    top: 5px;
    opacity: 0;
    transition: 0.2s;
  }
}

.form {
  p.swoosh {
    top: 0;
  }
  p.msg.swoosh {
    top: 0;
  }
  .swoosh .tooltip {
    opacity: 1;
  }
}