.hero {
  @include dark-background($color: linear-gradient($gray-prim, $text-prim));
  min-height: 500px;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas: 
    "."
    "title"
    "social"
    "."
    "next"
  ;
  .title {
    grid-area: title;
  }
  .list {
    grid-area: social;
    li {
      padding: 0 20px;
    }
  }
  .next {
    grid-area: next;
  }
}

.list span, .next span {
  @include text-gradient($spice, $gray-sec, $text-sec);
  &:hover {
    color: $text-sec;
  }
}
.next span {
  background-image: -webkit-linear-gradient(left, $spice, $gray-sec, $spice);
  background-image:         linear-gradient(to right, $spice, $gray-sec, $spice);
  position: relative;
  animation: move 2s infinite linear;
}

.title, .next {
  display: grid;
  justify-items: center;
  align-content: center;
  color: $text-sec;
}

.title {
  opacity: 0;
  h1 {
    font-size: 5rem;
    border-bottom: 5px solid $text-prim;
    padding: 0 25px;
  }
  h3 {
    font-size: 2.7rem;
    letter-spacing: 7px;
    padding-top: 10px;
  }
}

@keyframes move {
  0%{ transform: translateY(0px) }
  25%{ transform: translateY(25px) }
  75%{ transform: translateY(-15px) }
  100%{ transform: translateY(0px) }
}