$text-prim: #212121;
$text-sec: #FFFFFF;
$spice: #E0F8F7;
$gray-prim: #757575;
$gray-sec: #585858;
$accent: #2196f3;
$shade: rgba(0,0,0,0.3);
$attention: red;
$roboto: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;